.profile__pic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 432px) {
  .profile__pic {
    margin: auto;
  }
}