.profile {
  max-width: 880px;
  margin: 40px auto 51px;
  display: flex;
  transition: .8s linear;
}

@media screen and (max-width: 918px) {
  .profile {
    margin: 42px 19px 36px;
  }
}

@media screen and (max-width: 690px) {
  .profile {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 404px) {
  .profile {
    flex-direction: column;
  }
}